.container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 1rem;
  align-items: center;
  height: 2rem;
  background: var(--green);
  /* border-radius: 5px; */
  width: 150px;
}

.container span {
  color: white;
}