.programsContainer {
  flex: 1;
  display: grid;
  align-content: flex-start;
  /* gap: 1rem; */
  border: rgba(0, 0, 0, 0.2) 1px solid;
  overflow-y: scroll;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}

.grid {
  position: absolute;
}

.grid > div {
  display: flex;
  

}

.grid > div:not(:first-child) div {
  border-top: black 1px solid;
}

.grid > div div {
  height: 2rem;
  width: 50px;
  border-left: black 1px solid;
}

.grid > div div:first-child {
  border-left: 0px;
}
