.programsContainer {
  margin-top: 0.5rem;
  flex: 1;
  display: grid;
  align-content: flex-start;
  /* gap: 1rem; */
  border: rgba(0, 0, 0, 0.2) 1px solid;
  overflow-y: scroll;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  min-height: 32rem;
}
